FLASK_APP="src/main.py"
FLASK_ENV="development"
FLASK_DEBUG=1
STATIC_HOSTING_URL="localhost"
IMAGES_PATH="table_api"

# Docker settings
DOCKER_STATIC_HOSTING="/var/www/static"
NGINX_PROXY_NETWORK="nginx-proxy"

# Letsencrypt settings
SSL_DOMAIN="table.example.com"
PORT=5000
LETSENCRYPT_EMAIL="user@example.com"
